#navbar-container {
  background-image: linear-gradient(
    var(--color-green-dark),
    var(--color-green)
  );
  display: flex;
  justify-content: space-between;
  padding: 10px 5%;
  border-bottom: 2px solid #cd2f2f;
}
#navbar-logo-image {
  width: 100px;
}
#navbar-logo-container {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}
#navbar-links-container {
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
  align-items: center;
}
#navbar-logo-title-telugu {
  color: var(--color-primary);
  font-size: 15px;
  font-weight: 800;
}
#navbar-logo-title,
.navbar-link {
  color: var(--color-secondary);
  font-size: 20px;
  font-weight: 800;
  cursor: pointer;
}
.navbar-link {
  color: var(--color-primary);
}
.navbar-link:hover {
  color: var(--color-secondary);
}
#navbar-select-language {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid var(--color-secondary);
  padding: 5px;
  border-radius: 5px;
  color: var(--color-secondary);
  font-size: 15px;
  font-weight: 500;
  align-self: flex-end;
}
#navbar-top-navlinks {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.navbar-links {
  display: flex;
  gap: 20px;
  justify-content: center;

  align-items: center;
  color: var(--color-secondary);
  cursor: pointer;
}
