#dashboard-container {
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
}
#dashboard-body {
  min-height: 600px;
  padding: 30px;
}
.dropdown-menu {
  --bs-dropdown-link-active-bg: var(--color-primary) !important;
}
