#alert-container {
  z-index: 8;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
}
.alert-no-activity {
  height: 100%;
  overflow: hidden;
  user-select: none;
  /* pointer-events: none; */
}

#alert {
  position: fixed;
  top: 40vh;
  left: 40vw;
  min-width: 500px;
  z-index: 9;
  background-color: white; /* Ensures full opacity */
  opacity: 1; /* Explicitly ensure it's fully visible */
}
