#services-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 20px 0;
}
#services-cards-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-bottom: 100px;
  gap: 20px;
}
.services-card {
  min-width: 350px;
  max-width: 400px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #daac2c;
  border-radius: 15px;
  background-color: var(--color-green-light);
}
.services-card-icon {
  width: 50px;
}
#services-title {
  text-align: center;
  margin: 50px 0;
  font-size: 28px;
  font-weight: 700;
  color: var(--color-primary);
}
.services-card-button {
  margin: 20px 0;
  border: 0;
  background-color: var(--color-primary);
  color: white;
  width: 150px;
  padding: 8px 20px;
  border-radius: 10px;
}
.services-card-title {
  margin: 20px 0;
  font-size: 20px;
  font-weight: 700;
}
