#about-temple-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 100px 5%;
  background-color: var(--color-background);
}
#about-temple-image {
  width: 600px;
  height: 600px;
  z-index: 2;
  background-color: var(--color-background);
  position: relative;
  right: 170px;
}
#about-temple-text {
  max-width: 600px;
  line-height: 32px;
  text-align: justify;
}
#about-temple-title {
  font-size: 32px;
  font-weight: 800;
  color: var(--color-primary);
  margin: 30px 0;
}
