#travel-facilities-container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 200px;
}
#travel-facilities-heading {
  font-size: 32px;
  font-weight: 800;
  color: var(--color-secondary);
}
#travel-facilities {
  max-width: 700px;
  text-align: justify;
  line-height: 30px;
}
#travel-facilities-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 350px;
}
