#dashboard-pagination {
  margin: 0 auto;
  color: var(--color-primary);
  --bs-pagination-active-bg: var(--color-primary);
  --bs-pagination-active-border-color: var(--color-primary);
  --bs-pagination-color: var(--color-primary);
}
